<main class="d-flex form-signin justify-content-center align-items-center" style="height: 100vh;">
    <div class="p-5 bg-body-tertiary" style="border-radius: 20px; min-width: 40vw;">
        <form method="post" action="/editar-medicamento/<%= medicamento._id %>" enctype="multipart/form-data">
            <div class="text-center">

                <div class="my-3 fw-normal">
                    <h2>Editar medicamento</h1>
                </div>

                <div class="my-3">
                    <label for="nome">Nome do Medicamento:</label>
                    <input class="form-control" placeholder="exemplo" aria-label="exemplo" type="text" name="nome" value="<%= medicamento.nome %>" required>
                </div>

                <div class="my-3">
                    <label for="descricao">Descrição:</label>
                    <input class="form-control" placeholder="exemplo" aria-label="exemplo" name="descricao" rows="4" value="<%= medicamento.descricao %>" required></input>
                </div class="my-3">

                <div class="my-3">
                    <label for="indicacao">Indicação:</label>
                    <input class="form-control" placeholder="exemplo" aria-label="exemplo" type="text" name="indicacao" value="<%= medicamento.indicacao %>" required>
                </div>

                <div class="my-3">
                    <label for="modo_usar">Modo de Usar:</label>
                    <input class="form-control" placeholder="exemplo" aria-label="exemplo" name="modo_usar" rows="4" value="<%= medicamento.modo_usar %>" required></input>
                </div>

                <div class="my-3">
                    <label for="efeitos_colaterais">Efeitos Colaterais:</label>
                    <input class="form-control" placeholder="exemplo" aria-label="exemplo" name="efeitos_colaterais" rows="4" value="<%= medicamento.efeitos_colaterais %>" required></input>
                </div>
                
                <div>
                    <button class="btn btn-primary" type="submit">Salvar Alterações</button>
                </div>
            </div>
        </form>
    </div>
</main>
